html {
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: lightblue;
    background-position: center;
}

.page-container {
    position: relative;
    min-height: 100%;
}

.content-wrap {
    padding-bottom: 2.5rem;
}